@import "tailwindcss";

:root {
  --text-color-light: #213547;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --bg-light: #ffffff;
  --bg-dark: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
  color: #111827; 
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827; 
    color: rgba(255, 255, 255, 0.87); 
  }
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem; 
  color: white;
  transition: border-color 0.3s;
}

button:hover {
  border-color: #6366f1; 
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #353535;
  }
}
